body{
    font-family: "Roboto", serif;
    background: url(img/wallpaperflare.com_wallpaper\ \(4\).jpg) no-repeat center;
    background-size: cover;
    color: #efefef;
    font-size: 1.5rem;
    text-align: center;
}

#user {
    margin-bottom: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#user img {
    width: 50vw;
    height: auto; 
    max-width: 20rem; 
    max-height: 12rem; 
    margin-bottom: 1rem;
    margin-left: auto; 
    margin-right: auto;
}

#inputUser {
    width: 80%; 
    max-width: 15rem;
    height: 3rem;
    border-radius: 3rem;
    padding: 0 1rem;
    border: none;
    font-size: 1.2rem;
    margin-left: auto; 
    margin-right: auto; 
}

.chatSquare{
    margin: 0 auto;
    width: 60rem;
    height: 48rem;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    border: 2px solid #fafafa10;
    border-radius: 3rem;
    margin-bottom: 2rem;
}

#tableMessage {
    margin-top: 2rem;
}
#tableMessage tr{
    display: block;
    border-radius: 1rem;
    text-align: left;
    width: 57rem;
    height: 4rem;
    padding: 1rem;
    margin: 0.4rem;
    background-color: #292b2c70;
    padding-bottom: 2rem;
    gap: 1rem;
}
#tableMessage td{
    padding-bottom: 2rem;
}
#username {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}
#tableMessage p {   
    text-align: left;
    margin-top: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.divTable{
    position: absolute;
    z-index: 1;
}
.divInputAndSend{
    margin-left: 1.5rem;
    margin-top: 43rem;
    position: absolute;
    z-index: 2;
}
#inputMessage{
    padding-left: 1rem;
    width: 48rem;
    height: 3rem;
    border-radius: 3rem;
    margin-right: 0.5rem;
    border: none;
    font-size: 1.2rem;
}

#send{
    width: 7rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: #830cc4;
    border: none;
    color: #efefef;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

#send:hover{
    
    background-color: #740bac;
    
}
#send:active{
    background-color: #810cc0;
}
